<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<style>
	.error{
		color:firebrick;
	}
</style>
<body>

	<form th:action="@{/joinUser}"method="post" th:object="${user}">
		<div>
			<label th:for="username">아이디</label>
			<input type="text" th:field="*{username}"placeholder="아이디 입력">
			<div class="error" th:errors="*{username}"></div>
		</div>
		<div>
			<label th:for="userpw">비밀번호</label>
			<input type="password" th:field="*{userpw}"placeholder="비밀번호 입력">
			<div class="error" th:errors="*{userpw}"></div>
		</div>
		<div>
			<label th:for="useremail">이메일</label>
			<input type="email" th:field="*{useremail}"placeholder="이메일 입력">
			<div class="error" th:errors="*{useremail}"></div>
		</div>				
		<button type="submit">회원가입하기</button>
	
	</form>

</body>

</html>
